In [15]:
print ("Epale mano")

Epale mano

###Python Funcamentos
Detalles en: 1.el libro de python/ 2.PEP 8

Variable
* Tipos de datos
    - Strings
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas 
* Operadores
    - Matemáticos
    - Lógicos
    - Comparación
* Estructuras de control
    - Condicionales
    - ciclos infinitos
    - Funciones

In [16]:
#variables
name = "Manolo"
age = 30

last_name = "ArithmeticError" #si
LastNAme = "ArithmeticError" #no
lastname = "ArithmeticError" #no
#Estos 3 tipos de last name son diferentes variables, Python es sensible a mayusculas y minusculas

In [17]:
name

'Manolo'

In [18]:
# operadores matemáticos
number1 = 10
number2 = 5

result_sum = number1 + number2
result_substracion = number1 - number2
result_multiplicacion = number1 * number2
result_division = number1 / number2

In [19]:
print(result_sum)
print(result_substracion)
print(result_multiplicacion)
print(result_division)

15
5
50
2.0

In [20]:
print(f"El resultado de la suma es: {result_sum}")
print(f"El resultado de la resta es: {result_substracion}")
print(f"El resultado de la multiplicación es: {result_multiplicacion}")
print(f"El resultado de la división es: {result_division}")

El resultado de la suma es: 15
El resultado de la resta es: 5
El resultado de la multiplicación es: 50
El resultado de la división es: 2.0

In [21]:
if day == "Lunes":
    print("Ingrese el día de la semana:")

Ingrese el día de la semana:

In [22]:
day = input("Ingrese el día de la saeman: ")

if day == "Lunes":
    print("Hoy es lunes")
else:
    print("Hoy no es lunes, es:")

Hoy no es lunes, es:

In [23]:
##Listass
names = ["Manolo", "Juan", "Pedro", "Maria"]
ages = [30, 25, 40, 22]
pesos = [70.5, 60.2, 80.1, 55.0]

In [14]:
# Python has a set of built-in methods that you can use on strings.
#            01234567
last_name = "Amarillo"

last_name.strip()  # Elimina espacios al inicio y al final
last_name.lower()  # Convierte a minúsculas
last_name.upper()  # Convierte a mayúsculas
last_name.replace("A", "E")  # Reemplaza "A" por "E"
last_name.find("r")  # Encuentra la posición de "r"
last_name.split("i")  # Divide la cadena en una lista usando "i" como separador

['Amar', 'llo']

In [29]:
# posiciones de caracteres

last_name = "Amarillo"

print(last_name[0])  # Imprime el primer carácter
print(last_name[1]) # Imprime el segundo carácter   
print(last_name[2])  # Imprime el tercer carácter
print(last_name[3])  # Imprime el cuarto carácter

names[0]  # Imprime el primer carácter de la variable name
names[0:2]  # Imprime los caracteres del índice 0 al 2 (excluyendo el 3)

A
m
a
r

['Manolo', 'Juan']

In [ ]:
names = ["Manolo",
        "Juan",
        "Pedro",
        "Maria",
        "Ana",
        "Jose",
        "Luis",
        "Carlos"
        ]

In [30]:
names.append("Laura")  # Agrega un nuevo nombre al final de la lista
names.insert(0, "Miguel")  # Inserta "Miguel" al inicio de la lista
names.remove("Pedro")   # Elimina "Pedro" de la lista
names.pop()  # Elimina el último elemento de la lista
names.sort()  # Ordena la lista alfabéticamente
names.reverse()  # Invierte el orden de la lista

print(names)  # Imprime la lista modificada

['Miguel', 'Maria', 'Manolo', 'Juan']

In [ ]:
# TUPLAS
# Las tuplas son similares a las listas, pero son inmutables (no se pueden modificar una vez creadas).

tupla_nombres = ("Manolo", "Juan", "Pedro", "Maria")

len(tupla_nombres)  # Devuelve la cantidad de elementos en la tupla

In [37]:
print(names)

# Cambiar nombre de la posición 0 a maria
names[0] = "Maria"  # Cambia el primer nombre a "Maria"

print(names)

['Miguel', 'Maria', 'Manolo', 'Juan']
['Maria', 'Maria', 'Manolo', 'Juan']